.ui-listview > .ui-li-divider {
    font-size: 13px;
    cursor: default;
    outline: 0px none;
    font-weight: 500;
    padding: 0.1em 0.143em;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #F9F9F9;
    border-color: #BBB;
    color: #333;
    text-shadow: 0px 1px 0px #F3F3F3;
	background-image: url("backg.png")!important;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background-color: rgba(105, 189, 106, 0.44);
    border-color: #F9F0F0;
    color: #0E0D0D;
    text-shadow: 0px 1px 0px #5FCC54;
    font-weight: 700;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
    background-color: rgba(25, 73, 240, 0.72);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3em;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
    background-color: rgba(105, 189, 106, 0.44);
    border-color: #F9F9F9;
    color: #050404;
    text-shadow: 0px 1px 0px #A5DA6D;
}